.confetti-container {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 9999;
}

/* базовая конфетка */
.confetti {
    position: absolute;
    width: 8px;
    height: 14px;
    opacity: 0.9;
    animation: fall linear forwards;
}

/* падение */
@keyframes fall {
    0% {
        transform: translateY(-10vh) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(110vh) rotate(720deg);
        opacity: 0;
    }
}